
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
hover:bg-gray-300

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
 
 

/* Apply this to your input boxes and buttons */
.clickable {
  position: relative; 
  z-index: 10; /* Higher z-index to ensure they're above the map */
}

.flex {
  position: relative; /* Ensures that children can be positioned absolutely */
  z-index: 1; /* Adjust as needed */
}

.mapboxgl-map {
  position: relative; /* Ensure this stays relative */
  z-index: 0; /* Lower z-index for the map */
}
